{
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": false,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "embeddedLanguageFormatting": "auto",
    "bracketSameLine": true,
    "plugins": [
        "prettier-plugin-java",
        "@prettier/plugin-xml"
    ],
}